.fc-input {
  width: 100%;
  position: relative;
  .input-bk {
    padding: 0 6px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    .input {
      border: none;
      height: 24px;
      line-height: 24px;
      width: 100%;
      margin-left: -6px;
      outline: none;
    }
    .tip {
      line-height: 18px;
      padding: 5px 0;
      color: #ff6600;
    }
  }
}