.fc-input {
  width: 100%;
  position: relative;
  .input-bk {
    position: relative;
    box-sizing: border-box;
    .input {
      border: none;
      height: 24px;
      line-height: 24px;
      width: 100%;
      outline: none;
    }
    .tip {
      line-height: 18px;
      padding: 5px 0;
      color: #ff6600;
    }
  }
}