@rem:375rem;
.m-group {
  width: 100%;
  height: 100%;
  position: relative;
  // public class
  .image-bk {
    text-align: center;
  }
  .image {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align:bottom;
    box-sizing: border-box;
    img {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .title {
    font-size: 14px;
    color: #666666;
    text-align: left;
    line-height: 16/@rem;
    white-space: pre-line;
    word-break: break-all;
  }
  .description {
    font-size: 12/@rem;
    color: #cccccc;
    text-align: left;
    white-space: pre-line;
    word-break: break-all;
  }
  // theme1
  .theme-1 {
    .group-item {
      float: left;
      width: 167/@rem;
      padding: 4/@rem 4/@rem 8/@rem 6/@rem;
      box-sizing: border-box;
      .group-item-content {
        box-shadow: 1/@rem 2/@rem 8/@rem 2/@rem rgba(191,211,198,0.5);
        border-radius: 6/@rem;
        height: 52/@rem;
        padding-top: 16/@rem;
        padding-left: 8/@rem;
        position: relative;
        cursor: pointer;
        .title-bar {
          width: 4px;
          height: 16px;
          border-radius: 5px;
          position: absolute;
          background-color: #F3C500;
        }
        .title, .description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .new-tip {
          display: inline-block;
          background: #9AD708;
          color: #fff;
          font-size: 12/@rem;
          line-height: 16/@rem;
          border-radius: 2px;
          padding: 2px 5px 0 5px;
        }
      }
    }
    .pr0 {
      padding-right: 0;
    }
  }
  // theme-2
  .theme-2 {
    .theme2-item {
      height: 45/@rem;
      line-height: 45/@rem;
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      word-break: break-all;
      -webkit-line-clamp: 1;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  // theme-3
  .theme-3 {
    .theme3-item {
      display: flex;
      padding-bottom: 32/@rem;
      .item-content {
        flex-grow: 1;
        padding-right: 16/@rem;
        position: relative;
      }
      .image-content {
        width: 120/@rem;
        min-width: 120/@rem;
        height: 75/@rem;
        overflow: hidden;
      }
    }
    .description {
      position: absolute;
      bottom: 2/@rem;
    }
    .title, .description {
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      word-break: break-all;
      -webkit-line-clamp: 2;
      line-height: 20/@rem;
    }
  }
  // theme-4
  .theme-4 {
    .author {
      color: #999;
      font-size: 12/@rem;
      padding-top: 10/@rem;
    }
  }
}