@rem:375rem;
.dom-player-status-bar {
  position: absolute;
  left: 0;
  bottom: 10/@rem;
  z-index: 1;
  width: 100%;
  text-align: center;
  .status-bar-icon {
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    font-size: 0;
    line-height: 0;
    border:1px solid #979797;
    margin: 3/@rem;
  }
  .status-bar-icon-checked {
    background-color: #FFDE00;
    border: none;
  }
}
.dom-player-status-bar1 {
  position: absolute;
  left: 0;
  bottom: 4/@rem;
  z-index: 1;
  width: 100%;
  text-align: center;
  .status-bar-icon {
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    font-size: 0;
    line-height: 0;
    border:1px solid #fff;
    margin: 2/@rem;
  }
  .status-bar-icon-checked {
    background-color: #fff;
    border: none;
  }
}
.dom-player-status-bar2 {
  position: absolute;
  left: 0;
  bottom: 6/@rem;
  z-index: 1;
  width: 100%;
  text-align: center;
  .status-bar-icon {
    width: 10px;
    height: 2px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    font-size: 0;
    line-height: 0;
    background-color: #ddd;
    margin: 2/@rem;
  }
  .status-bar-icon-checked {
    background-color: #F83A61;
  }
}
.dom-player-status-bar3 {
  position: absolute;
  left: 0;
  bottom: 6/@rem;
  z-index: 1;
  width: 100%;
  text-align: center;
  .status-bar-icon {
    width: 12px;
    height: 4px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    font-size: 0;
    line-height: 0;
    background-color: #fff;
    margin: 2/@rem;
  }
  .status-bar-icon-checked {
    background-color: #F83A61;
  }
}